<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href='stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href='stylesheets/font-awesome.min.css' />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href='stylesheets/ace-fonts.css' />

    <!-- ace styles -->
    <link rel="stylesheet" href='stylesheets/ace.min.css' id="main-ace-style" />

    <!-- Fav Icon -->
    <link rel="shortcut icon" href='images/favicon.png' type="image/x-icon">

    <!--[if lte IE 9]>
    <link rel="stylesheet" href='stylesheets/ace-part2.min.css' />
    <![endif]-->
    <link rel="stylesheet" href='stylesheets/ace-skins.min.css' />
    <link rel="stylesheet" href='stylesheets/ace-rtl.min.css' />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href='stylesheets/ace-ie.min.css' />
    <![endif]-->

    <!-- inline styles related to this page -->

    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    <!-- ace settings handler -->
    <script src="javascripts/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="javascripts/html5shiv.min.js"></script>
    <script src="javascripts/respond.min.js"></script>
    <![endif]-->
</head>
